<%= stylesheet_link_tag "profiles", "data-turbo-track": "reload" %>
<div class="container">
    <% @users.each do |user|%>
        <%= render user%>
    <% end %>
</div>

<% if !@users[0].present? %>
  <h2>No Users Found</h2>
<%end%>
