<h1>Editing education experience</h1>

<%= render "form", education_experience: @education_experience %>

<br>

<div>
  <%= link_to "Show this education experience", @education_experience %> |
  <%= link_to "Back to education experiences", education_experiences_path %>
</div>
