<h1>Editing work experience</h1>

<%= render "form", work_experience: @work_experience %>

<br>

<div>
  <%= link_to "Show this work experience", @work_experience %> |
  <%= link_to "Back to work experiences", work_experiences_path %>
</div>
