<%= turbo_frame_tag "#{dom_id(social_post)}_like_button", class:"action-button-container" do %>
    <% like = this_user.likes.find_by(social_post: social_post)%>
    <% if like.nil? %>
        <% button_to likes_path, params: {like: {social_post_id: social_post.id}}, class: "like-button", method: :post do %>
            <p><i class="fa-regular fa-thumbs-up fa-xl"></i> Like</p>
        <% end %>
    <% else %>
        <% button_to like_path(like), class: "like-button unlike", method: :delete do %>
            <p><i class="fa-solid fa-thumbs-up fa-xl"></i> Like</p>
        <% end %>
    <% end %>
<% end %>