<h1>Editing social post</h1>

<%= render "form", social_post: @social_post %>

<br>

<div>
  <%= link_to "Show this social post", @social_post %> |
  <%= link_to "Back to social posts", social_posts_path %>
</div>
