@import "global-styles";



 

 .social_posts_container {
    background-color: $secondary-color;
    width: 550px;
    margin: 20px auto 0px auto;
    padding-top: 15px;
    position: relative;

    .new-post-bar {
      display: flex;
      flex-direction: row;
      padding: 15px 5px;
      margin: 0px 5px 25px 5px;
      background-color: $primary-color;
      border-radius: 10px;
      position: relative;

      .image {
        height: 50px;
        margin-right: 10px;
        img {
          height: 100%;
          object-fit: contain;

          border-radius: 50%;
        }
      }


      .prompt-container {
        display: block;
        text-decoration: none;
        border: none;
        flex-grow: 1;
        display: flex;
        align-items: center;
        border: solid 1px gray;
        border-radius: 25px;
        padding: 0px 10px;
        margin: 5px 5px 5px 0px;

        p {
          font-weight: $bold-font-weight;
          font-size: $body-font-size;
          color: $white-font-color;
        }
      }


    }

    .new-post-bar::after {
      display: block;
      content: '';
      height: 1px;
      background: $dark-gray-font-color;
      position: absolute;
      bottom: -12px;
      left: 10px;
      right: 10px;
    }
  }

 .social_post {
    background-color: $primary-color;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    position: relative;
    border-radius: 10px;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active{
        text-decoration: none;
    }
     

    turbo-frame[id*='like_button'] {
      flex-basis: 100px;
      height: 90%;
      
    }
    .header {
      /* background-color: green; */
      width: 100%;
      padding: 5px 10px;
      display: flex;
      flex-direction: row;

      .username {
        color: $white-font-color;
        font-weight: $bold-font-weight;
        font-size: $body-font-size;
        text-decoration: none;
      }

      .location {
        color: $gray-font-color;
        font-size: $meta-data-font-size;
        font-weight: $base-font-weight;
        text-decoration: none;
      }

      .creation-date {
        color: $gray-font-color;
        font-size: $meta-data-font-size;
        font-weight: $base-font-weight;
        text-decoration: none;
      }

      img{
        height: 50px;
        object-fit: contain;
        margin-right: 10px;
        border-radius: 50%;
      }
    }

    .content { 
      padding: 0px 10px;
      p {
        margin: auto;
        font-size: $body-font-size;
      }
      img {
        display: block;
        max-width: 100%;
        padding: 5px 0px;
        margin: auto;
      }
    }

    .data-footer {
      height: 20px;
      width: 100%;
      color: $gray-font-color;
      padding: 0px 10px;
      position: relative;
      font-size: $meta-data-font-size;
    }

    .data-footer::after {
      display: block;
        content: '';
       height: 1px;
       background: $dark-gray-font-color;
       position: absolute;
       bottom: 0;
       left: 10px;
       right: 10px;
     }

     .actions-footer {
      height: 40px;
      width: 100%;
      /* background-color: gray; */
      
      display: flex;
      align-items: center;
      padding: 0px 5px;

      .like_button {
        height: 100%;
        width: 100%;
        form {
          height: 100%;
          width: 100%;

          button {
            /* background-color: bisque; */
            height: 100%;
            width: 100%;
            padding: 5px;
            color: white;
            background-color: #1d2226;
            border-radius: 5px;
            border: none;
          }

          button:hover {
            cursor: pointer;
            background-color: #4a535a;
          }
        }

        .unlike
        {
          color: rgb(25, 113, 181);
        }
      }
    }
 }

 .modal {
    position: fixed;
    z-index: 1;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    border-radius: 5px;

    .cancel-button {
      background-color: blue;
      color: $white-font-color;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
    }

    .cancel-button:hover {
      background-color: rgb(51, 51, 255);
    }
 }

 

 .footer{
   width: 100%;
   height: 50px;
   background-color: rgb(58, 58, 58);
   position: absolute;
   bottom: 0;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
 }