@import "global-styles";



 

 .social_posts_container {
    background-color: $secondary-color;
    width: 550px;
    margin: 20px auto 0px auto;
    padding-top: 15px;
    position: relative;

    .new-post-bar {
      display: flex;
      flex-direction: row;
      padding: 15px 5px;
      margin: 0px 5px 25px 5px;
      background-color: $primary-color;
      border-radius: 10px;
      position: relative;

      .image {
        height: 50px;
        margin-right: 10px;
        img {
          height: 100%;
          object-fit: contain;

          border-radius: 50%;
        }
      }


      .prompt-container {
        display: block;
        text-decoration: none;
        border: none;
        flex-grow: 1;
        display: flex;
        align-items: center;
        border: solid 1px gray;
        border-radius: 25px;
        padding: 0px 10px;
        margin: 5px 5px 5px 0px;

        p {
          font-weight: $bold-font-weight;
          font-size: $body-font-size;
          color: $white-font-color;
        }
      }


    }

    .new-post-bar::after {
      display: block;
      content: '';
      height: 1px;
      background: $dark-gray-font-color;
      position: absolute;
      bottom: -12px;
      left: 10px;
      right: 10px;
    }
  }

  #new_post_form {
    width: 550px;
    background-color: $primary-color;
    border-radius: 10px;
    position: relative;
    padding: $horizontal-padding-value; 
    .label {
      display: block;
      color: $gray-font-color;
      font-family: $body-font-family;
      font-size: $body-font-size;
    }

    .text-input, .date-input, select {
        color: $white-font-color;
        font-family: $body-font-family;
        background-color: $primary-color;
        border-radius: 5px;
        border: 1px solid $gray-font-color;
        padding: 5px;
    }
    .long {
        width: 100%;
    }
    .submit-container
    {
        padding-top: $horizontal-padding-value;
        display: flex;
        justify-content: flex-end;
    }
    .submit-button {
        background-color: $tertiary-color;
        padding: 10px;
        border: none;
        margin: 0px;
        border-radius: 20px;
        font-size: $body-font-size;
        font-weight: $bold-font-weight;
        color: $dark-gray-font-color;
        cursor: pointer;

    }
    .submit-button:hover {
        background-color: $tertiary-highlight-color;
    }
  }
  #new_post_form::after {
    display: block;
    content: '';
    height: 1px;
    background: $dark-gray-font-color;
    position: absolute;
    bottom: -12px;
    left: 10px;
    right: 10px;
  }

 .social_post {
    background-color: $primary-color;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    position: relative;
    border-radius: 10px;
    .social_post_top_section {
      display: flex;
      justify-content: space-between;
      form {
        margin: 5px 10px;
      }
    }



    a,
    a:link,
    a:visited,
    a:hover,
    a:active{
        text-decoration: none;
    }
     

    turbo-frame[id*='like_button'] {
      flex-basis: 100px;
      height: 90%;
      
    }
    .header {
      /* background-color: green; */
      width: 100%;
      padding: 5px 10px;
      display: flex;
      flex-direction: row;

      .username {
        color: $white-font-color;
        font-weight: $bold-font-weight;
        font-size: $body-font-size;
        text-decoration: none;
      }

      .headline {
        color: $gray-font-color;
        font-size: $meta-data-font-size;
        font-weight: $base-font-weight;
        text-decoration: none;
      }

      .creation-date {
        color: $gray-font-color;
        font-size: $meta-data-font-size;
        font-weight: $base-font-weight;
        text-decoration: none;
      }

      img{
        height: 50px;
        object-fit: contain;
        margin-right: 10px;
        border-radius: 50%;
      }
    }

    .content { 
      padding: 5px 10px;
      p {
        margin: auto;
        font-size: $body-font-size;
      }
      img {
        display: block;
        max-width: 100%;
        padding: 5px 0px;
        margin: auto;
      }
    }

    .data-footer {
      height: 20px;
      width: 100%;
      color: $gray-font-color;
      padding: 0px 10px;
      position: relative;
      font-size: $meta-data-font-size;
      display: flex;
      justify-content: space-between;
      .comments-count {

      }
    }

    .data-footer::after {
      display: block;
        content: '';
       height: 1px;
       background: $dark-gray-font-color;
       position: absolute;
       bottom: 0;
       left: 10px;
       right: 10px;
     }

     .actions-footer {
      height: 40px;
      width: 100%;
      /* background-color: gray; */
      
      display: flex;
      align-items: center;
      padding: 0px 5px;
      .action-button-container
      {
        height: 100%;
        form {
          height: 100%;
        }
      }
      .button-to {
        height: 100%;
      }


      .comment-button, .like-button
      {
        background-color: $primary-color;
        border: none;
        height: 100%;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-size: $body-font-size;
        }
      }

      .comment-button:hover, .like-button:hover {
        cursor: pointer;
        background-color: #4a535a;
      }

      .unlike
      {
        color: rgb(25, 113, 181);
      }
      
    }

    .new-comment {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      padding: 10px 5px;

      img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      input {
        width: 90%;
        height: 100%;
        border: 1px solid $gray-font-color;
        background-color: $primary-color;
        border-radius: 20px;
        margin: 0px 5px;
        color: $white-font-color;
        font-size: $body-font-size;
        padding: 0px 10px;
      }
      input::placeholder {
        color: $gray-font-color
      }
    }

    .comment {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 5px 5px;
      .image-container {
        margin-right: 10px;
        img {
          width: 40px;
          border-radius: 50%;
        }
      }

      .container {
        flex-grow: 1;
        background-color: $comment-background-color;
        border-radius: 0px $panel-border-radius 0px $panel-border-radius;
        padding: 5px 0px;
        .header {
          display: flex;
          justify-content: space-between;
          padding: 0px 10px;
          .header-text-container {
            display: flex;
            flex-direction: column;
          }
          .username {
            color: $white-font-color;
            font-weight: $bold-font-weight;
            font-size: $base-font-size;
            text-decoration: none;
          }
    
          .headline {
            color: $gray-font-color;
            font-size: $meta-data-font-size;
            font-weight: $base-font-weight;
            text-decoration: none;
          }
        }
        .body {
          padding: 5px 10px;
          font-size: $body-font-size;
        }
      }
    }
 }

 .delete-button {
  padding: 10px;
  border: none;
  margin: 0px;
  background-color: inherit;
  border-radius: 20px;
  font-size: $body-font-size;
  font-weight: $bold-font-weight;
  color: black;
  cursor: pointer;
  text-decoration: none;

}
.delete-button:hover {
}

.delete-button .icon-container .icon::before {
  color: $warning-highlight-color;
}

 .modal {
    position: fixed;
    z-index: 1;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    border-radius: 5px;

    .cancel-button {
      background-color: blue;
      color: $white-font-color;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
    }

    .cancel-button:hover {
      background-color: rgb(51, 51, 255);
    }
 }

 

 .footer{
   width: 100%;
   height: 50px;
   background-color: rgb(58, 58, 58);
   position: absolute;
   bottom: 0;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
 }