@import "global-styles";

.panel {
    background-color: $primary-color;
    position: relative;
    border-radius: $panel-border-radius;
}
.page-content {
    position: relative;
}

.profile-edit-button {
    position: absolute;
    width: 35px;
    height: 35px;
    top: $horizontal-padding-value;
    right: $horizontal-padding-value;
}

.work-experience-edit-button {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0px;
    right: 0px;
}

.education-experience-edit-button {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0px;
    right: 0px;
}

.icon-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}
.icon-container:hover {
    background-color: $dark-gray-font-color;
}

.about-content {
    color: $white-font-color;
    font-size: $body-font-size;
}

.header-section {
    width: 750px;
    height: 500px;
    color: $white-font-color;
    margin: 25px auto 0px auto;
    background-color: $primary-color;
    border-radius: $panel-border-radius $panel-border-radius 0px 0px;
    position: relative;
    .background {
        width: 100%;
        height: 230px;
        object-fit: contain;
        background-color: $primary-color;
        border-radius: $panel-border-radius $panel-border-radius 0px 0px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: $panel-border-radius $panel-border-radius 0px 0px;
        }
    }

    .info {
        width: 100%;
        height: 270px;
        background-color: $primary-color;
        padding: 70px $horizontal-padding-value 0px $horizontal-padding-value;
        border-radius: inherit;
        position: relative;
        .username {
            font-size: $h1-font-size;
            font-weight: $bold-font-weight;
            display: block;
            padding-bottom: 5px;
        }

        .headline {
            font-size: $body-font-size;
            display: block;
        }

        .location {
            font-size: $body-font-size;
            color: $gray-font-color;
            display: block;
            padding: 0px 0px 15px 0px;
        }

        .following {
            color: $gray-font-color;
            font-size: $meta-data-font-size;
            display: block;
            //padding: 10px 0px;
        }

        #follow_button {
            position: absolute;
            bottom: $horizontal-padding-value;
            left: $horizontal-padding-value;
        }

        button {
            background-color: $tertiary-color;
            padding: 10px;
            border: none;
            margin: 5px auto;
            border-radius: 20px;
            font-size: $body-font-size;
            font-weight: $bold-font-weight;
            cursor: pointer;
        }
        button:hover {
            background-color: $tertiary-highlight-color;
        }
    }

    .profile-pic {
        display: block;
        position: absolute;
        top: 50%;
        left: $horizontal-padding-value;
        transform: translate(0%, -70%);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid 5px $dark-gray-font-color;
        background: black;
    }
}

form {
    .avatar-container {
        img {
            width: 100px;
        }
    }
    .backdrop-container {
        width: 200px;
        height: 90px;
        object-fit: contain;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .label {
        display: block;
        color: $gray-font-color;
        font-family: $body-font-family;
        font-size: $body-font-size;
    }

    .text-input, .date-input, select {
        color: $white-font-color;
        font-family: $body-font-family;
        background-color: $primary-color;
        border-radius: 5px;
        border: 1px solid $gray-font-color;
        padding: 5px;
    }
    .long {
        width: 100%;
    }
    .submit-container
    {
        padding-top: $horizontal-padding-value;
        display: flex;
        justify-content: flex-end;
    }
    .submit-button {
        background-color: $tertiary-color;
        padding: 10px;
        border: none;
        margin: 0px;
        border-radius: 20px;
        font-size: $body-font-size;
        font-weight: $bold-font-weight;
        color: $dark-gray-font-color;
        cursor: pointer;

    }
    .submit-button:hover {
        background-color: $tertiary-highlight-color;
    }
}

.edit-form{
    background-color: $primary-color;
    position: relative;
    border-radius: $panel-border-radius;
    width: 750px;
    color: $white-font-color;
    margin: 25px auto 0px auto;
    padding: $horizontal-padding-value; 
}

.work-experience-form {
    width: 100%;
    background-color: $primary-color;
    position: relative;
    color: $white-font-color;
    margin: 25px auto 0px auto;
    padding: $horizontal-padding-value; 
}

.section-header {
    display: flex;
}

.add-button {
    margin-left: auto;
    margin-right: 0px;
}

.section-title {
    font-size: $base-font-size;
    font-weight: $bold-font-weight;
    color: $white-font-color;
    padding:  0px;
}

.section {
    width: 750px;
    margin: 5px auto;
    padding: $horizontal-padding-value;
}

.delete-button {
    background-color: $warning-color;
    padding: 10px;
    border: none;
    margin: 0px;
    border-radius: 20px;
    font-size: $body-font-size;
    font-weight: $bold-font-weight;
    color: black;
    cursor: pointer;
    text-decoration: none;

}
.delete-button:hover {
    background-color: $warning-highlight-color;
}