

<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <% if current_user %>
        <li><a href="#"><%= link_to "My Media", pages_media_path %></a></li>
        <li><%= button_to("Log Out", destroy_user_session_path, method: :delete) %></li>     
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></a></li>
        <% end %>
    </ul>
</div>
